* {
  margin: 0;
  padding: 0;
}


.weather-app {
  max-width: 500px;
  margin: 30px auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  background: linear-gradient(to top, #09a4bc, #5ababd );
  text-align: center;
  
}
.weather-icon {
  text-align: center;
  font-size: 70px;
}

.names {
    text-align: center;
    color: rgb(242, 213, 213);
}

.temperature {
    font-size: 60px;
    color: black;
}

.description {
    font-size: 15px;
    text-transform: capitalize;
}

.date {
    font-size: 15px;
    margin: 10px;
    margin-top: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}
.weather-factors {
    margin: 10px;
    
}

.precip, .humid, .windy {
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
}

.temperature-factors {
    margin: 10px;
}

.weather-emoji {
    font-size: 20px;
}

.units {
    position: relative;
    font-size: 16px;
    top: -24px;
    color: black;
}

.text-form {
    margin: 30px;
}

.temperature .active {
    color: black;
    cursor: default;
}

.temperature .active:hover {
    text-decoration: none;
}


h1 {
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: rgb(242, 213, 213);
  margin: 10px;

}


li {
    list-style: none;   
}

li::first-letter {
    text-transform: capitalize;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    transition: all ease-in 200ms;
    color: black;
}


